
h1{
    font-size:30px;
}
#logins{
    height: 20%;
    width: 50%;
    overflow-y: scroll;
    text-align: center; 
    -webkit-overflow-scrolling: touch;
    padding-left:10px;  
    padding-right:10px;
}
button{
    margin-left: 3px;
    margin-top: 3px;
}
.ad{
    width: 50%;
    transform: translate(100%,0px);
}
#sign-email{
    font-size:15px;
}
#signup{
    height: 87%;
    width: 50%;
    text-align: center;
    overflow-y: scroll;
    padding-right:10px;  
    padding-left:10px;  
    float:right;
}
.form-group {
    margin-bottom: 11px;
}
label {
    margin-bottom: -5px;
}
.alert {
    margin-bottom: 5px;
}
#emailHelp{
    font-size:15px;
    color:orangered !important;
}
.agree{
    font-size:15px;
}

.agree a{
    text-decoration: underline;
}

.agree a:hover{
    color:blue;
}

.agree a:visited{
    color:black;
}
.errorr{
    padding:10px 3px;
}
.see{
    padding:0;
    height:30px;
    width:125px;
}
.mmmb{
    margin-bottom: 0;
}
.warr{
    font-size:14.5px;
}
.width320{
    width:320px;
    margin: 0 auto;
}
.op{
    border:5px solid blue;
    height:45px;
}

.toast {
    opacity: 1;
}