
img{
    float:left;
}
p{
    font-size:30px;
    margin-top:0px;
}
.navbar-brand {
    height:55px;
    padding-top: 0.315rem;
}
#clock {
    position: absolute;
    top:0px;
    right:5px;
    font-size: 20px;
}
#date {
    position: absolute;
    top:20px;
    right:5px;
    font-size: 20px;
}
