/* You can add global styles to this file, and also import other style files */
:root{
    --primary: #3eacba;
    --success: #27803a;
    --warning: #eab63d;
}
* {
    font-family: "proxima-nova", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
a {
    color:var(--primary);
}

.btn-primary {
    background-color:var(--primary);
    border-color:var(--primary);
}

.btn-warning {
    background-color:var(--warning);
    border-color:var(--warning);
}
img[alt="www.000webhost.com"] {
    display: none;
}